@model Cfb.CandidatePortal.Web.MvcApplication.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>
@if (Model.ForceChange)
{
    <p class="alert alert-danger">For security reasons, you must specify a new password before continuing to use the application.</p>
}
<div class="row">
    <div class="col-sm-6 col-sm-push-6">
        <p>Your password must be at least 8 characters long, is case-sensitive, and may include any combination of letters, numbers, and special characters. You may not use your username as your password.</p>
        <div class="alert alert-warning">
            <h4><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Security Reminder</h4>
            <p>Always keep your username and password credentials in a safe and secure place, as forgotten passwords cannot be retrieved, and will have to be reset instead. Please also note that these credentials are not to be disclosed to any parties.</p>
        </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
<p>Having difficulty changing your password? Please contact the Candidate Services Unit at @Cfb.CandidatePortal.CPProviders.SettingsProvider.AgencyPhoneNumber for assistance.</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}