@using Cfb.CandidatePortal
@using Cfb.CandidatePortal.Web.Mvc.Strings
@using Cfb.CandidatePortal.Web.MvcApplication.Controllers
@model Cfb.CandidatePortal.Web.MvcApplication.Models.ContactViewModel

@{
    ViewBag.Title = "Report Data Inaccuracy Issues";
    var appName = CPProviders.SettingsProvider.ApplicationName;
    var updateTarget = "ReportFormContents";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", Actions.Default, HomeController.ControllerName)</li>
    <li>@Html.ActionLink("Help", Actions.Default)</li>
    <li class="active">@ViewBag.Title</li>
</ol>
<h3>Help and Support</h3>
<section id="@updateTarget">
    <h2>@ViewBag.Title</h2>
    <div class="alert alert-info">
        <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Data Accuracy Disclaimer</h4>
        <p>Please be aware that @appName is updated at least once every business day. However, it may take 24 hours for Information submitted to the CFB to be posted on @appName. Therefore, if you do not see the information you are expecting currently posted on @appName, you may want to wait 24 hours before contacting the CFB.</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>If you believe any data posted on @appName is inaccurate or incomplete, please contact the Candidate Services Unit at @CPProviders.SettingsProvider.AgencyPhoneNumber, or submit the following form.</p>
            <p id="ReportFail" class="alert alert-danger hidden" role="alert">An error occurred while submitting your report. Please try again, or use one of the alternate contact methods listed.</p>
            @using (Ajax.BeginForm(HelpController.ActionName_Contact, new { SelectedCategory = "data" }, new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = updateTarget,
                OnFailure = "contactSubmitFail"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <textarea class="form-control" rows="6" placeholder="Describe the nature of the data inaccuracy in as much detail as possible..." required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Report</button>
                </div>
            }
        </div>
        <div class="col-sm-4">
            <p>You may also contact the Candidate Services Unit for immediate assistance via telephone at @CPProviders.SettingsProvider.AgencyPhoneNumber, or write to us at the following mailing address:</p>
            <address>
                <strong>@CPProviders.SettingsProvider.AgencyName</strong><br />
                100 Church Street, 12th Floor<br />
                New York, NY 10007
            </address>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var contactSubmitFail = function () {
            $("#ReportFail").removeClass("hidden");
        };
    </script>
}
